/****General****/
body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
header, footer {
    text-align: center;}

/****Header*****/
header {background-image: url('../img/42.jpg');
    padding: 15px;}
header img {
    height: 130px;
    border-radius: 50%;}
header p {
    font-size: 25px;
    color: indigo;
    font-weight: bold;}
header a {
    text-decoration: none;}

/****Main*****/
main {
    margin: 0 15%;}
main p {
    color:indigo ;
    font-size:20px ;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    background-color:ivory;}
main dl {
    font-size: 15px;}
main dt {
    margin-left: 32px;
    color: rgb(36, 35, 35);
    font-weight:600;}
main dd {
    text-align: justify;}
.hoja2 {
    font-size: 15px;
    text-transform: none;
    color: black;
    line-height: initial;
    text-align: justify;
}

/****Footer****/
footer { background-image: url('../img/42.jpg');
    padding: 5px;
    font-weight: 600;
}