/********Generales*********/
body {font-family: 'Roboto', sans-serif;}

/*********header**********/
header {
    position: sticky;
    top: 0px;
    z-index: 10;
}
#bardiscount {
    font-size: 15px;
    background-color: #1CD1B0;
    margin: 0%;
    padding: 15px;
    margin: 0%;}
.banner {font-size: 40px;
    background-color: #00669F;
    padding: 15px;
    margin: 0% 0% 20px 0%;
    font-weight: normal;
}

/********main********/
main {
    position: relative;

}
#carteles {
    text-align: center;
}
/**sections**/

#batman1 , #batman2 , #harley , #superman {
    background-color: #F3F3F3;
    margin: 152px auto;
    padding: 5px;
    position: absolute;
height: 529px;
width: 300px;}
#batman1 {
left: 32px;
}
#harley {
    left: 362px;
}
#batman2 {
    left: 692px;
}
#superman {
    left: 1022px;
    
}
#superman img.fondo
{width: 300px;
    height: 193px;
border-radius:5%}

#superman img.cara {
    left: 90px;
}

h2 {
position: absolute;
top:266px;
left: 95px;
font-weight: 400;}
p {text-align: justify;
position: absolute;
top:310px;}

.corazon {
    position: absolute;
    top: 15.88px;
    left: 21px;
    z-index: 5;
}
.cara {
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    right: 90px;
    top:128px;
}
footer {
    padding: 16px;
    background-color: #00669F;
    color: #FFF9F9;
    position: relative;
    top:972px;
}
