/***clases generales***/
body {font-family: 'Roboto', sans-serif;}

/***header***/
.primero {
    color:white;
    background-color: black;
}
.segundo {
    color:white;
    background-color: #F0A83E;
}
/*nav menu*/

/***main content***/
/*banner*/
#banner {background-image: url('/img/bowl-and-pet-daities-on-green-background\ 1.png');
background-size:cover;
        height: 409px;}
#b1 , #b2 , #b3 {text-align: right;}
#b2 , #b3 {font-size: 16px;}
#b1 {color: #3C2313;
    font-size: 30px;
    background-color: #FFFFFF;}
#b3 {background-color: #F0A83E;
    color:#FFFFFF ;}

/*Productos destacados*/
#paw {color: #F0A83E;
    text-align: center;
    height: 71px;
    width: 67px;}

section.destacados ~ p {
    color: #3C2313;
}



/***footer***/
